<div class="view" (click) = "controller.focus()">
    <div class="bird" [style.top.vh] = "bird.y" [style.right.vh]= "bird.x">
    <img src="./assets/bird.svg" alt="">
    </div>
    <div class="scoreBoard">{{score}}</div>
    <div class="ceil"></div>
    <div class="ground"></div>
    <div *ngFor = "let each of pipes" class="pipe" [style.right.vh] = "each.position-2" >
        <div class="top" [style.height.vh] = "each.height" ></div>
        <div class="bottom" [style.height.vh] = "54-each.height-each.interval"></div>
    </div>

</div>

<input  (keyup)="onKey($event.key)" type="text" #controller>
    {{controller.focus()}}
