.view{
    position: relative;
    height: 60vh;
    width: 60vh;
    background-color: #fff;
    overflow: hidden;
}
.bird{
    width: 4vh;
    height: 4vh;
    background-color: transparent;
    border-radius: 2vh;
    position: absolute;
    top: 30vh ;
    right: 5vh;
    z-index: 9999;
    transform: scale(-1,1);
}
input{
    height: 0px;
    border: none;
}
.ceil{
    position: absolute;
    width: 60vh;
    height: 6vh;
    background-color: #090;
}

.ground{
    position: absolute;
    bottom: 0;
    height: 6vh;
    width: 60vh;
    background-color: #090;
}
.pipe .top{
    position: absolute;
    right: inherit;
    top:0;
    width: 3vh;
    background-color: rgb(138, 83, 21);
}
.pipe .bottom{
    position: absolute;
    right: inherit;
    bottom:0;
    width: 3vh;
    background-color: rgb(138, 83, 21);
}

.scoreBoard {
    position: absolute;
    font-size: 4vh;
    top:8vh;
    right: 8vh;
    z-index: 999999;
}