.view {
    height: 100%;
    width: 100%;
    position: relative;
}
.mazeRow {
    width: 100%;
    height: 10%;
}
.block{
    width: 5vh;
    height: 5vh;
    display: table-cell;
}
.block.passive{
    background-color:#000;
}
.block.pointer{
    background-image: url("../../../assets/bird.svg") ;
    background-repeat: no-repeat;
    transform: scale(-1, 1);
}
.block.destination{
    background-color: #090;
}
input{
    height: 0px;
    border: none;
}