.view {
    height: 60vh;
    width: 60vh;
   // position: relative;
}
.mazeRow {
    width: 60vh;
    height: 6vh;
}
.block{
    width: 6vh;
    height: 6vh;
    display: inline-table;
}
.block.passive{
    background-color:#000;
}
.block.pointer{
    background-image: url("../../../assets/bird.svg") ;
    background-repeat: no-repeat;
    transform: scale(-1, 1);
}
.block.destination{
    background-color: #090;
}
input{
    height: 0px;
    border: none;
}
