@font-face {
  font-family: "PressStart";
  src: url("../../assets/PressStart2P-Regular.ttf");
}
.intro {
  width: 100%;
  height: 100vh;
  background-color:#8d2c2c;
  position: absolute;
  font-family: "PressStart";
}
.relative {
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
}
.text {
  display: block;
  width: 50%;
  position: relative;
  margin: auto;
  color: #a97e7e;
}
.text h1 {
  padding: 1vh;
  user-select: none;

}
.button {
  padding: 10vh;
  float: right;
}
.button:hover {
  color: #ffffff;
  text-shadow: 1.5vh -1.5vh #000000;
}
