.view{
    position: relative;
    height: 60vh;
    width: 60vh;
    background-color: #fff;
    overflow: hidden;
}
.bird{
    width: 4vh;
    height: 4vh;
    background-color: transparent;
   
    position: absolute;
    z-index: 9999;
    transform: scale(-1,1);
}
input{
    height: 0px;
    border: none;
}
.ceil{
    position: absolute;
    width: 60vh;
    height: 6vh;
    background-color: #090;
}
.ground{
    position: absolute;
    bottom: 0;
    height: 6vh;
    width: 60vh;
    background-color: #090;
}
.cannon {
    position: absolute;
    bottom: 14.4vh;
    left:7.2vh;
}
.cannon .gun {
    position: absolute;
    height: 16vh;
    width: 3vh;
    background-color: transparent; 
    z-index: 99999;
    transform: rotate(30deg);
}
.cannon .stand {
    position: absolute;
    height: 4vh;
    width: 12vh;
    bottom: -10vh;
    border-radius: 2vh;
    background-color: #dd6b0e;
    left: -4.5vh;
    
}
.cannon .gun .visible {
    height: 9vh;
    width: inherit;
    background-color: #424242;
    border-radius: 0.7vh .7vh 1.5vh 1.5vh;
    z-index: 99999;
}

.pipe{
    right:0;
}
.pipe .top{
    position: absolute;
    right: inherit;
    top:0;
    width: 1.2vh;
    height: 24vh;
    background-color: rgb(138, 83, 21);
}
.pipe .bottom{
    position: absolute;
    right: inherit;
    bottom:0;
    width: 1.2vh;
    height: 24vh;
    background-color: rgb(138, 83, 21);
}

