@font-face {
  font-family: "monoton";
  src: url("../../assets/IndieFlower-Regular.ttf");
}
.text {
  position: absolute;
  display: block;
  font-size: 10vh;
  font-family: "monoton";
  font-weight: 100;
  color: #eaa7e8;
  height: 100vh;
  background-color: #170000;
  margin: auto auto;
  z-index: 999;
}
.button {
  z-index: 9;
  display: block;
  font-size: 6vh;
  width: 60%;
  margin:auto auto;
  font-family: "monoton";
  font-weight: 100;
  color: #ffffff;
}
.button h1, h4, h5, h6 {
  text-align: center;
  cursor: pointer;
  user-select: none;

}
.button h1:hover, h5:hover, h4:hover  {
  color: #424242;
}
h1 span {
  user-select: none;
}
img {
  transform: scale(-2, 2) translate(-25vh,12vh) rotate(0deg);
  position: absolute;
  opacity: 60%;
  pointer-events: none;
}

.levels {
  z-index: 99;
  background-color: #2204047a;
  width: 60vh;
  height: 60vh;
  margin: auto;
  border-radius: 3vh;
}

.credits {
  z-index: 99;
  position: relative;
  background-color: #2204047a;
  width: 60vh;
  height: 60vh;
  margin: auto;
  border-radius: 3vh;
  overflow: hidden;
}
.scrolling {
  position: absolute;
  width: 100%;
  top:0vh;
}
